body {
  font-family: "Microsoft JhengHei",  arial, sans-serif; }

section {
  position: relative; }

section * {
  position: relative; }

.color-red {
  color: #ce3e3e !important; }

.wrapper {
  width: 100%;
  height: auto;
  clear: both; }

.clear {
  clear: both; }

.gutters-5 {
  margin-right: -5px;
  margin-left: -5px; }
  .gutters-5 > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px; }

/* ==============================================================
*  h usually component
 ================================================================*/
.cover {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 9; }

.cover-a {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background: transparent;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99; }

.pic {
  display: inline-block;
  text-align: center;
  position: relative; }
  .pic img {
    max-width: 100%;
    height: auto;
    margin: auto;
    position: relative; }
  .pic.auto {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.clear {
  clear: both; }

.is-table {
  display: none; }
  @media screen and (min-width: 1200px) {
    .is-table {
      display: block !important; } }

.is-ipad {
  display: none; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .is-ipad {
      display: block !important; } }

.is-phone {
  display: none; }
  @media screen and (max-width: 767px) {
    .is-phone {
      display: block !important; } }

@media screen and (max-width: 767px) {
  .visible-xs.inline {
    display: inline-block !important; } }

/*centert*/
.centert {
  left: 50%;
  right: auto;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  position: absolute; }

.max-sm-size .centert.no-sm {
  left: inherit;
  right: inherit;
  top: inherit;
  bottom: inherit;
  -ms-transform: none;
  transform: none;
  -webkit-transform: none;
  text-align: center;
  position: relative; }

.centert04 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.row.gutter-5 {
  margin-right: -5px;
  margin-left: -5px; }
  .row.gutter-5 > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px; }

/* ==============================================================
* animation-delay
 ================================================================*/
.d1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.d2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.d3 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.d4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.d5 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.d6 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.d7 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

.d8 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

.d9 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

.d10 {
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.0s; }

.d12 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.d14 {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s; }

/* ==============================================================
* animation-duration
 ================================================================*/
.d1s {
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.d15s {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s; }

.d2s {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

/* ==============================================================
* animation-delay
 ================================================================*/
.z0 {
  z-index: 0; }

.z1 {
  z-index: 1 !important; }

.z2 {
  z-index: 2 !important; }

/* ==============================================================
* width
 ================================================================*/
.w100 {
  width: 100% !important; }

/* ==============================================================
* margin
 ================================================================*/
.mt0 {
  margin-top: 0; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mt35 {
  margin-top: 35px; }

.mb0 {
  margin-bottom: 0px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb40 {
  margin-bottom: 40px; }

.mb60 {
  margin-bottom: 60px; }

.mb100 {
  margin-bottom: 100px; }

.mr10 {
  margin-right: 10px; }

@media (max-width: 1199px) {
  .mb-lg-30 {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .mt-xs-15 {
    margin-top: 15px; }
  .mt-xs-30 {
    margin-top: 30px; }
  .mb-xs-0 {
    margin-bottom: 0 !important; }
  .mb-xs-5 {
    margin-bottom: 5px !important; }
  .mb-xs-10 {
    margin-bottom: 10px !important; }
  .mb-xs-20 {
    margin-bottom: 20px !important; }
  .mb-xs-30 {
    margin-bottom: 30px !important; }
  .ml-xs-10 {
    margin-left: 10px !important; }
  .ml-xs-15 {
    margin-left: 15px !important; }
  .mr-xs-0 {
    margin-right: 0 !important; } }

/* ==============================================================
* padding
 ================================================================*/
.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px !important; }

.pl10 {
  padding-left: 10px !important; }

/* ==============================================================
* font
 ================================================================*/
.fz12 {
  font-size: 12px !important; }

.fz13 {
  font-size: 13px !important; }

.fz14 {
  font-size: 14px !important; }

.fz15 {
  font-size: 15px !important; }

.fz16 {
  font-size: 16px !important; }

.fz17 {
  font-size: 17px !important; }

.fz18 {
  font-size: 18px !important; }

.fz22 {
  font-size: 22px !important; }

.fz30 {
  font-size: 30px !important; }

@media (max-width: 767px) {
  .fz-xs-14 {
    font-size: 14px !important; } }

.tc {
  text-align: center; }

@media (max-width: 767px) {
  .tc-xs {
    text-align: center !important; }
  .tl-xs {
    text-align: left !important; } }

.fw-b {
  font-weight: bold; }

.line-through {
  text-decoration: line-through; }

/* ==============================================================
* opacity
 ================================================================*/
.opacity-5 {
  opacity: 0.5; }
